
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Merriweather&display=swap');
.box{
    padding: 2rem 4rem 0;
    height:100vh;
    border:1px solid black;
    background-color:rgba(red,0.2);

    @media only screen and (max-width: 768px) {
        padding:0;
        
    }
    
    &-header{
        font-family: 'Merriweather', serif;
        letter-spacing:3px;
    }

    &-boxcol{
        display:flex;
        font-family: 'Crimson Text', serif;
        border: 1px solid black;
        border-radius:5px;
        padding:0 10rem;
        background-color:#f9f3f3;
        @media only screen and (max-width: 768px) {
            flex-direction:column;
            padding:0;
        }
        &-head{
            color:brown;
        }
        &-row{
            display:flex;
            justify-content:space-around;
            @media only screen and (max-width: 768px) {
                &:not(:last-child){
                    margin-bottom:1rem;
                }
            }
        }
        
    }

    &-col1{
        width:50%;
        display:flex;
        flex-direction: column;
        margin:2rem 0 4rem;
        @media only screen and (max-width: 768px){
            width:100%;
        }

        & p {
            font-size:1.5rem;
            
            &:not(:last-child){
                margin-bottom:2rem;
            }
        }
        @media only screen and (max-width: 768px) {
            margin:auto;
            & p {
                font-size:1.1rem;
                &:not(:last-child){
                    margin-bottom:.5rem;
                }
            }

        }
    }

    &-col2{
        width:50%;
        display:flex;
        flex-direction: column;
        margin:2rem 0 4rem;
        @media only screen and (max-width: 768px){
            width:100%;
        }

        & p {
            font-size:1.5rem;
            &:not(:last-child){
                margin-bottom:2rem;
            }
        }
        @media only screen and (max-width: 768px) {
            margin:auto;
            & p {
                font-size:1.1rem;
                &:not(:last-child){
                    margin-bottom:.5rem;
                }
            }
        }

        &-headings{
            font-family: 'Crimson Text', serif;
            font-size:2rem;
            font-weight: 600;
            margin-top: .5rem;
            background-color:rgba(brown,0.3);
        }

    }
}

